  <div ng-controller="addEmployeController" id="wrapper" class="back-app">
      <ng-menu></ng-menu>
	<div class="container">
        <div class="row">
            <div class="col-lg-12 espacement_margin">
                <h3>Ajouter un employé</h3>
            </div>
            <div class="row">
                  <div class="col-lg-1">Prénom : </div>
                  <div class="col-lg-2"><input type="text" id="inputPrenom" autofocus></input></div>
                  <div class="col-lg-1"><span></span></div>
            </div>
            <div class="row">
                  <div class="col-lg-1">Nom : </div>
                  <div class="col-lg-2"><input type="text" id="inputNom"></input></div>
                  <div class="col-lg-1"><span></span></div>
            </div>
            <div class="row">
                  <div class="col-lg-1">Salaire : </div>
                  <div class="col-lg-2"><input type="text" id="inputSalaire"></input></div>
                  <div class="col-lg-1"><span></span></div>
            </div>
            <div class="row">
                  <div class="col-lg-1">Nombre d'heures : </div>
                  <div class="col-lg-2"><input type="text" id="inputNbHeure"></input></div>
                  <div class="col-lg-1"><span></span></div>
            </div>
            <div class="row">
                  <div class="col-lg-1">Age : </div>
                  <div class="col-lg-2"><input type="text" id="inputAge"></input></div>
                  <div class="col-lg-1"><span></span></div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <md-button ng-click="insertPersonne()" class="bouton" style="background-color:Brown; color:white">Ajouter</md-button>
                <md-button ng-click="clearChamp()" class="bouton" style="background-color:Brown; color:white">Effacer</md-button>
              </div>
            </div>
            <label class="messageValide">{{messageValide}}</label>
        </div>
    </div>
  </div>
  
  

